span {
  background-color: yellow;
}
.cat_senses {
  text-align: right 30px;
}

#catsun {
  width: 300px;
  height: 300px;
  border: solid 5px orangered;
}
.media_class {
  text-align: center;
}

.red {
  border: 1px solid red;
  color: red;
  text-align: center;
}
.table {
  table-layout: auto;
  border: 1px solid black;
  text-align: center;
}

tr,
td {
  border: 1px solid black;
  text-align: center;
}

td {
  border: 1px solid black;
}

#lion_class {
  border: solid 5px orangered;
  margin-top: 100px;
  margin-left: 400px;
  margin-bottom: 100px;
  align-content: center;
  width: 384px;
  height: 361px;
}
